.App {
  text-align: center;
}

.container {
  padding: 16px;
}

.element {
  display: block;
}

button {
  background-color: #494141;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}
